<div class="container">
  <div class="row justify-content-center">
   
    <h4 class="text-center mb-5">投稿詳細</h4>  
      
    <div class="col-lg-3 col-8">
      <%= render "admin/users/info", user: @user %>
    </div>
  
    <div class="col-lg-8">
      <div class="row justify-content-center" >
        <div class="col-md-5 col-10">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><%= image_tag @tea.get_tea_image(300,350), class: "tea-image-w" %></td>
              </tr>
              <tr>
                <td><%= @tea.created_at.strftime('%Y/%m/%d') %></td>
              </tr>
            </tbody>
          </table>
        </div>
    
        <div class="col-10 col-md-5 table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>お茶の種類</td>
                <td><%= @tea.tea_type.name %></td>
              </tr>
              <tr>
                <td>産地</td>
                <td><%= @tea.prefecture.name %></td>
              </tr>
              <tr>
                <td>商品名</td>
                <td><%= @tea.product_name %></td>
              </tr>
              <tr>
                <td>販売者</td>
                <td><%= @tea.seller %></td>
              </tr>
              <tr>
                <td>購入場所</td>
                <td><%= @tea.parchased_at %></td>
              </tr>
              <tr>
                <td>#タグ</td>
                <td>
                  <% @tea_tags.each do |tag| %>
                    <%= "#" %><%= tag.name %>
                    <%= "" %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    
        <div class="col-10"> 
        <%= @tea.opinion %>
        </div>
      </div>
    </div>
  </div>
    
  <div class="row justify-content-center">
    
    <div class="col-8">
      <div class="row">
        <div class="col-10">
        <%= form_with model: @tea_comment, url: tea_tea_comments_path(@tea.id), local: false do |form| %>
          <%= form.text_field :comment, rows: "5" ,class: 'form-control', :placeholder => "管理者はコメントできません。"  %>
        </div>
        <div class="col-10 col-xl-2">
          <%= form.submit 'コメントする' , class: 'btn btn-primary mt-1', id: "submit", disabled: true %>
        </div>
        <% end %>
      </div>
      
      <div id="tea_comment-<%= @tea.id %>" class="table-responsive" >
        <%= render 'public/tea_comments/tea_comment', tea_comment: @tea_comment, tea: @tea %>
      </div>
    </div>
    
  </div>
  
</div>