<table class="table table-hover table-inverse">
 <h2>"<%= params[:keyword] %>"を含む投稿一覧</h2>

  <!--投稿はカードで囲む-->
  <div class="card">
    <div class="card-body">
      <h6 class="card-title">
        <% if @teas %>
          <% @teas.each do |tea| %>
            <%= image_tag tea.get_tea_image(100,100) %>
            <%= tea.prefecture.name %>
            <%= link_to tea_path(tea.id) do %><%= tea.opinion %>
            <% end %>
          <% end %>
        <% else %>
          検索結果がありません
        <% end %>
      </h6>
    </div>
  </div>
    <% if @teas %> 
    <%= paginate @teas %>
    <% end %>
    <%= link_to "Homeに戻る", root_path %>
</table>
