<div class="container">

  <% if @search_teas %> 
    <div class="row justify-content-center">
      <h5 class="text-center mb-5">お茶の種類「<%= @search_teas.join(" + ")  %>」</h5>
    </div>
  <% end %>
  
  <% if @tag %> 
    <div class="row justify-content-center">
      <h5 class="text-center mb-5">「#<%= @tag.name %>」を含む投稿一覧</h5>
    </div>
  <% end %>
  
  <% if params[:keyword] != nil %> 
    <div class="row justify-content-center">
      <h5 class="text-center mb-5">「<%= params[:keyword] %>」を含む投稿一覧</h5>
    </div>
  <% end %>

  <div class="row">
      <% if @teas != nil && @teas.count > 0 %>
        <%= render "public/teas/tea_card", teas: @teas %>
      <% else %>
      <div class="row justify-content-center">
        <h5 class="text-center mb-5">検索結果がありません</h5>
      </div>
      <% end %>
  </div>
  <div class="row mt-4"> 
    <div class="d-flex justify-content-center mb-5">
      <% if @teas %> 
      <%= paginate @teas %>
      <% end %> 
    </div>
  </div> 
</div> 
