<!--絞り込み検索-->
<%= render "public/teas/search_tea_type" %>
<div class="container">
  <div class="row row-cols-md-auto row-cols-xxl-3 justify-content-center">

    <% @teas.each do |tea| %>
      <div class="col mb-4">   
        
        <%= link_to tea_path(tea) do %>
          <%= image_tag tea.get_tea_image(400,300) %>
        <% end %>
        
        <div class="row">
          <div class="col-8 pt-2">
            <%= tea.tea_type.name %>
            (<%= tea.prefecture.name %>)
            &nbsp;
            <%= link_to user_path(tea.user) do %>
              <%= tea.user.name %>
            <% end %>
          </div>
         
          <div id="favorite-<%= tea.id %>" class="col-3">
            <%= render "public/favorites/favorite", tea: tea %>
          </div>
        </div>
        <%= tea.created_at.strftime('%Y/%m/%d') %>
        <%= link_to tea_path(tea) do %>
          <%= tea.opinion.truncate(15) %>
        <% end %>
      </div>
    <% end %>
  <%= paginate @teas %>
  </div>
</div>



  <!--<table class="table">-->
  <!--  <tbody>-->
  <!--    <tr>-->
  <!--      <td>-->
  <!--        %= tea.tea_type.name %>-->
  <!--      </td>-->
  <!--      <td>-->
  <!--        %= tea.prefecture.name %>-->
  <!--      </td>-->
  <!--      <td>-->
  <!--        %= link_to user_path(tea.user) do %>-->
  <!--        %= tea.user.name %>-->
  <!--        % end %>-->
  <!--      </td>-->
  <!--      <td id="favorite-%= tea.id %>">-->
  <!--        %= render "public/favorites/favorite", tea: tea %>-->
  <!--      </td>-->
  <!--    </tr>-->

  <!--    <tr>-->
  <!--      <td>-->
  <!--        %= tea.created_at.strftime('%Y/%m/%d') %>-->
  <!--      </td>-->
  <!--      <td>-->
  <!--        %= link_to tea_path(tea) do %>-->
  <!--         %= tea.opinion.truncate(15) %>-->
  <!--        % end %>-->
  <!--      </td>-->
  <!--    </tr>-->

  <!--  </tbody>-->
  <!--</table>-->
  <!--% end %>-->