<div class="container">

  <% if @search_teas %> 
    <div class="row justify-content-center">
      <h5 class="text-center mb-5">お茶の種類「<%= @search_teas.join(" + ")  %>」</h5>
    </div>
  <% end %>
  
  <% if @tag %> 
    <div class="row justify-content-center">
      <h5 class="text-center mb-5">「#<%= @tag.name %>」を含む投稿一覧</h5>
    </div>
  <% end %>
  
  <% if params[:keyword] != nil %> 
    <div class="row justify-content-center">
      <h5 class="text-center mb-5">「<%= params[:keyword] %>」を含む投稿一覧</h5>
    </div>
  <% end %>

  <div class="row">
      <% if @teas != nil && @teas.count > 0 %>
      <% @teas.each do |tea| %>
        <div class="card card-w mx-auto mt-4 shadow-lg">
          <%= link_to tea_path(tea) do %>
            <%= image_tag tea.get_tea_image(200,250), class: "card-img-top" %>
          <% end %>
          <div class="card-body">
          
            <div class="row">
              <div class="col-4">
                <%= link_to user_path(tea.user) do %>
                <%= image_tag tea.user.get_profile_image(100,100), class: "w-80 mt-3 rounded-circle" %>     
                <% end %><br>
                <snap style="font-size: 50%;"><i class="fas fa-user me-2"></i><%= tea.user.name %></snap>
              </div>
              <div class="col-6">
                
                <p class="card-title">
                  <strong>
                  <%= tea.tea_type.name %>&nbsp;
                  (<%= tea.prefecture.name %>)
                  </strong>
                </p>

                <p class="card-text">
                  <%= tea.created_at.strftime('%Y/%m/%d') %><br>
                  <%= link_to tea_path(tea) do %>
                    <%= tea.opinion.truncate(30) %>
                  <% end %>
                </p>
              </div> 
              <div id="favorite-<%= tea.id %>" class="col-1">
                <%= render "public/favorites/favorite", tea: tea %>
              </div>
            </div> 
            
          </div> 
            
        </div>       
      <% end %>
      <% else %>
      <div class="row justify-content-center">
        <h5 class="text-center mb-5">検索結果がありません</h5>
      </div>
      <% end %>
  </div>
  <div class="row mt-4"> 
    <div class="d-flex justify-content-center mb-5">
      <% if @teas %> 
      <%= paginate @teas %>
      <% end %> 
    </div>
  </div> 
</div> 
