<div class="row d-flex justify-content-center">
  <div class="col-12 col-lg-9">

    <%= form_with model: tea do |form| %>
    <div class="table-responsive">
      <table class="table table-light align-middle table-borderless">
        <tbody>
          <tr><td colspan="2" class="text-danger">※は入力必須項目です</td></tr>
          <tr class="form-group">
            <td><%= form.label:"投稿画像", for: "formFile", class: "form-label"  %><%= form.label:"※", class: "text-danger" %><%= form.label:"（jpeg/png/jpgのみ投稿できます）", class: "text-danger" %></td>
            <td><%= form.file_field :tea_image, accept: "image/*", class: "form-control", type: "file",  id: "formFile", value: @tea.tea_image %></td>
          </tr>
          <tr class="form-group">
            <td><%= form.label:"商品名" %><%= form.label:"※", class: "text-danger" %></td>
            <td><%= form.text_field :product_name, class: "form-control", value: @tea.product_name %></td>
          </tr>  
          <tr class="form-group">
            <td><%= form.label:"お茶の種類" %><%= form.label:"※", class: "text-danger" %></td>
            <td><%= form.select :tea_type_id, TeaType.pluck(:name, :id), selected: (@tea.tea_type_id if @tea), class:'text' %></td>
          </tr>  
          <tr class="form-group">
            <td><%= form.label:"産地" %><%= form.label:"※", class: "text-danger" %></td>
            <td><%= form.select :prefecture_id, Prefecture.pluck(:name, :id), selected: (@tea.prefecture_id if @tea), class:'text' %></td>
          </tr>  
          <tr class="form-group">
            <td><%= form.label:"販売者" %></td>
            <td><%= form.text_field :seller, class: "form-control", value: @tea.seller  %></td>
          </tr>  
          <tr class="form-group">
            <td><%= form.label:"購入場所" %><%= form.label:"※", class: "text-danger" %></td>
            <td><%= form.text_field :purchased_at, class: "form-control", value: @tea.purchased_at  %></td>
          </tr>  
          <tr class="form-group">
            <td><%= form.label:"タグ" %><br><%= form.label:"(半角カンマ「, 」で区切ると複数タグ登録できます)" %></td>
            <td><%= form.text_area :name, value: @tag_list, :placeholder => "例）新茶2022,八女茶,深蒸し茶", class: "form-control" %></td>
          </tr>  
          <tr class="form-group">
            <td><%= form.label:"投稿文(500文字まで)" %><%= form.label:"※", class: "text-danger" %></td>
            <td><%= form.text_area :opinion, :placeholder => "例）おすすめの淹れ方、味の感想、生産者について", class: "form-control", rows: "3", value: @tea.opinion %></td>
          </tr>  
        </tbody>
      </table>
    </div>
    <div class="actions d-flex justify-content-evenly mb-5">
      <%= form.submit class: "btn btn-outline-success" %>
      
      <% if current_page?(new_tea_path) %>
        <%= form.submit '下書きに保存', :name => 'draft', class: "btn btn-outline-warning" %>
      <% end %>
      
      <%= link_to user_path(current_user), class: "btn btn-outline-secondary" do %>
        登録せずに戻る
      <% end %> 
    </div>
    <% end %>
    
  </div>
</div>