<%= form_with model: tea do |form| %>

<div class="field">
  <%= form.label:"投稿画像" %><br />
  <%= form.file_field :tea_image, accept: "image/*" %>
</div>

<div class="field">
  <%= form.label:"商品名" %><br />
  <%= form.text_field :product_name %>
</div>

<div class="field">
  <%= form.label:"お茶の種類" %><br />
  <%= form.select :tea_type_id, TeaType.pluck(:name, :id) %>
</div>

<div class="field">
  <%= form.label:"産地" %><br />
  <%= form.select :prefecture_id, Prefecture.pluck(:name, :id) %>
</div>

<div class="field">
  <%= form.label:"販売者" %><br />
  <%= form.text_field :seller %>
</dic>

<div class="field">
  <%= form.label:"購入場所" %><br />
  <%= form.text_field :parchased_at %>
</div>

<div class="field">
  <%= form.label:"タグ (,で区切ると複数タグ登録できます)" %>
  <%= form.text_field :name, value: @tag_list %>
</div>


<div class="field">
  <%= form.label:"投稿文（おすすめの淹れ方、楽しみ方など）" %><br />
  <%= form.text_area :opinion %>
</div>

<div class="field">
  <%= form.submit %>
</div>

<% end %>