<!-- Button trigger modal -->
<div type="icon" data-bs-toggle="modal" data-bs-target="#TeaTypeModal" class="nav-link text-dark">
<i class="fas fa-filter me-1"></i>絞り込み
</div>
<!-- Modal -->
<div class="modal fade" id="TeaTypeModal" tabindex="-1" aria-labelledby="TeaTypeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">お茶の種類で絞る</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with  url: search_tea_type_path, method: :get, local: true do |f| %>
        <div class="modal-body">
            <%= f.collection_check_boxes :tea_type, TeaType.all, :name, :name do |b| %>

              <%= b.check_box class: "search_tea_type" do %>
              <%= b.check_box + b.text %>
              <% end %>
               <%= b.label {b.text} %>
               
            <% end %>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="reset-button">リセット</button>
          <%= f.submit "絞り込む", class: "btn btn-primary", id: "submit-button", disabled: true %>
        </div>
      <% end %>
    </div>
  </div>
</div>

