<div class="row row-cols-md-2 row-cols-xxl-3 justify-content-evenly">
  <% teas.reverse_each do |tea| %>
    <div class="col mb-4 text-center">   
      <%= link_to tea_path(tea) do %>
        <%= image_tag tea.get_tea_image(250,200), class: "img-size border border-secondary rounded-2" %>
      <% end %> 
      <div class="row justify-content-center">
        <div class="col-9 pt-2">
          <%= tea.tea_type.name %>
          (<%= tea.prefecture.name %>)
          &nbsp;
          <%= link_to user_path(tea.user), class: "link-dark text-wrap" do %>
            <%= tea.user.name %>
          <% end %>
        </div>
        <div id="favorite-<%= tea.id %>" class="col-1">
          <%= render "public/favorites/favorite", tea: tea %>
        </div>
        <div class="col-1">
          <i class="far fa-comment-dots"></i></br><snap><%= tea.tea_comments.count %></snap>
        </div>
      </div>
      <%= tea.created_at.strftime('%Y/%m/%d') %>
      <%= link_to tea_path(tea), class: "link-dark" do %>
        <%= tea.opinion.truncate(15) %>
      <% end %>
    </div>   
  <% end %>
</div>
