<div class="container">
  
  <div class="row">
    <h5 class="text-center mb-5">確認画面</h5>
  </div>
  <%= render 'layouts/errors', obj: @tea %>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-9">
      
      <div class="table-responsive">
        <table class="table table-light align-middle table-borderless">
          <tbody>
            <tr><td colspan="2" class="text-danger">※は入力必須項目です</td></tr>
            <tr class="form-group">
              <td>投稿画像</td>
              <td><%= image_tag @tea.get_tea_image(100,100) %></td>
            </tr>
            <tr class="form-group">
              <td>商品名</td>
              <td><%= @tea.product_name %></td>
            </tr>  
            <tr class="form-group">
              <td>お茶の種類</td>
              <td><%= @tea.tea_type_id %></td>
            </tr>  
            <tr class="form-group">
              <td>産地</td>
              <td><%= @tea.prefecture_id %></td>
            </tr>  
            <tr class="form-group">
              <td>販売者</td>
              <td><%= @tea.seller %></td>
            </tr>  
            <tr class="form-group">
              <td>購入場所</td>
              <td><%= @tea.parchased_at  %></td>
            </tr>  
            <tr class="form-group">
            <td>タグ</td>
            <td>
              <% @tag_list.each do |tea_tags| %>
              <%= tea_tags.name %>
              <% end %>
            </td>
            </tr>  
            <tr class="form-group">
              <td>投稿文</td>
              <td><%= @tea.opinion %></td>
            </tr>  
          </tbody>
        </table>
      </div>
      <div class="actions d-flex justify-content-evenly mb-5">
        <%= form_with model: @tea, url: tea_path(@tea.id), local: true do |form| %>
          <% @tags.each do |tag| %>
            <%= check_box_tag "tags[]", tag %>
            <%= label_tag tag %>
          <% end %>
          <%= form.submit "投稿する", class: "btn btn-outline-success" %>
          <%= link_to new_tea_path(current_user), class: "btn btn-outline-secondary" do %>
          入力画面へ戻る
          <% end %> 
      
        <% end %>
      </div>
    </div>
  </div>
</div>
