<div class="container">
  
  <div class="row">
    <h5 class="text-center mb-5">新規投稿フォーム</h5>
  </div>
  <%= render 'layouts/errors', obj: @tea %>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-9">
  
      <%= form_with model: @tea, method: :post do |form| %>
      <div class="table-responsive">
        <table class="table table-light align-middle table-borderless">
          <tbody>
            <tr><td colspan="2" class="text-danger">※は入力必須項目です</td></tr>
            <tr class="form-group">
              <td><%= form.label:"投稿画像", for: "formFile", class: "form-label"  %><%= form.label:"※", class: "text-danger" %><%= form.label:"（jpeg/png/jpgのみ投稿できます）", class: "text-danger" %></td>
              <td><%= form.file_field :tea_image, accept: "image/*", class: "form-control", type: "file",  id: "formFile" %></td>
            </tr>
            <tr class="form-group">
              <td><%= form.label:"商品名" %><%= form.label:"※", class: "text-danger" %></td>
              <td><%= form.text_field :product_name, class: "form-control" %></td>
            </tr>  
            <tr class="form-group">
              <td><%= form.label:"お茶の種類" %></td>
              <td><%= form.select :tea_type_id, TeaType.pluck(:name, :id) %></td>
            </tr>  
            <tr class="form-group">
              <td><%= form.label:"産地" %></td>
              <td><%= form.select :prefecture_id, Prefecture.pluck(:name, :id) %></td>
            </tr>  
            <tr class="form-group">
              <td><%= form.label:"販売者" %></td>
              <td><%= form.text_field :seller, class: "form-control"  %></td>
            </tr>  
            <tr class="form-group">
              <td><%= form.label:"購入場所" %></td>
              <td><%= form.text_field :parchased_at, class: "form-control"  %></td>
            </tr>  
            <tr class="form-group">
              <td><%= form.label:"タグ" %><br><%= form.label:"(半角カンマ「, 」で区切ると複数タグ登録できます)" %></td>
              <td><%= form.text_area :name, value: @tag_list, :placeholder => "例）新茶2022,八女茶,深蒸し茶", class: "form-control"  %></td>
            </tr>  
            <tr class="form-group">
              <td><%= form.label:"投稿文(500文字まで)" %></td>
              <td><%= form.text_area :opinion, :placeholder => "例）おすすめの淹れ方、味の感想、生産者について", class: "form-control", rows: "3" %></td>
            </tr>  
          </tbody>
        </table>
      </div>
      <div class="actions d-flex justify-content-evenly mb-5">
        <%= form.submit "確認画面へ進む", class: "btn btn-outline-success" %>
        <%= link_to user_path(current_user), class: "btn btn-outline-secondary" do %>
          戻る
        <% end %> 
      </div>
      <% end %>
      
    </div>
  </div>
</div>