<div class="container">
  
  <div class="row d-flex justify-content-center fs-3">
    新規登録
  </div>
 
  <div class="login-container">
    <div class="avatar"></div>
  
    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
    
      <div class="form-group">
        <%= f.label :"ユーザーネーム" %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>
      
      <div class="form-group">
        <%= f.label :"お住まいの地域" %><br />
        <%= f.select :prefecture_id, Prefecture.pluck(:name, :id) %>
      </div>
      
      <div class="form-group">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email %>
      
      <div class="form-group">
        <%= f.label :"パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      
      <div class="form-group">
        <%= f.label :"パスワード（確認用）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
        <%= f.submit "登録する", class: "btn btn-outline-info btn-block col-12 mt-2" %>
    <% end %>
  </div>
  
</div>