<table border="3" sellspacing="10" class="table table-borderless table-light">
  <tbody>
    
    <tr>
      <td class="mt-2 d-flex justify-content-center"><%= image_tag user.get_profile_image(100,100) %></td>
    </tr>
    
    <tr>
      <td>
        <%= link_to admin_user_path(user), class: "link-dark" do%>
          <i class="fas fa-user me-2"></i><%= user.name %>
        <% end %>
      </td>
    </tr>
    
    <tr>
      <td><i class="fas fa-binoculars me-2"></i>ハンター歴：<%= @hunter_histroy  %>日</td>
    </tr>
    
    <tr>
      <td><i class="far fa-gem me-2"></i>集めたトレチャー：<%= user.teas.where(status: "published").count %>個</td>
    </tr>
    
    <tr>
      <td><i class="fas fa-map-pin me-3"></i><%= user.prefecture.name %>在住</td>
    </tr>
    
    <tr>
      <td><i class="far fa-comment me-1"></i><%= user.introduction %></td>
    </tr>
    
    <tr>
      <td><%= link_to "投稿一覧に戻る", admin_teas_path, class: "mb-2 btn d-grid btn-outline-dark" %></td>
    </tr>

  </tbody>
</table>