<table border="3" sellspacing="10" class="table table-borderless table-light">
  <tbody>
    
    <tr>
      <td class="mt-2 d-flex justify-content-center"><%= image_tag user.get_profile_image(100,100) %></td>
    </tr>
    
    <tr>
      <td class="d-flex justify-content-between">
        
        <%= link_to user_path(user), class: "link-dark" do%>
          <i class="fas fa-user me-2"></i><%= user.name %>
        <% end %>
        
        <div class="dropdown">
          <a class="me-2 dropdown-toggle link-secondary text-decoration-none" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-cog"></i>
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li class="dropdown-item">
              <%= link_to user_favorites_path(user), class: "link-dark text-decoration-none" do %>
                <i class="far fa-heart me-3"></i>お気に入り
              <% end %>
            </li>
            
            <li class="dropdown-item">
              <%= link_to edit_user_path(user), class: "link-dark text-decoration-none" do %>
                <i class="far fa-edit me-3"></i>登録情報編集
              <% end %>
            </li>
            
            <li class="dropdown-item">
              <%= link_to destroy_user_session_path, class: "link-dark text-decoration-none" do %>
                <i class="fas fa-sign-out-alt me-3"></i>ログアウト
              <% end %>
            </li>
          </ul>
        </div>
        
      </td>
    </tr>
    
    <tr>
      <td><i class="fas fa-binoculars me-2"></i>ハンター歴：<%= @hunter_histroy  %>日</td>
    </tr>
    
    <tr>
      <td><i class="far fa-gem me-2"></i>集めたトレチャー：<%= user.teas.count %>個</td>
    </tr>
    
    <tr>
      <td><i class="fas fa-map-pin me-3"></i><%= user.prefecture.name %>在住</td>
    </tr>
    
    <tr>
      <td><i class="far fa-comment me-1"></i><%= user.introduction %></td>
    </tr>
    
    <tr>
      <td>
        <%= link_to "投稿する", new_tea_path, class: "btn d-grid btn-outline-dark" %>
      </td>
    </tr>
    
    <tr>
      <td><%= link_to "投稿一覧に戻る", root_path, class: "mb-2 btn d-grid btn-outline-dark" %></td>
    </tr>

  </tbody>
</table>