<div class="container">
  
  <div class="row">
    <h5 class="text-center mb-5"><%= @user.name %>さんのユーザー編集画面</h5>
  </div>
  
  <%= render 'layouts/errors', obj: @user %>
  

  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-7">
    <%= form_with model: @user, url: user_path(@user) do |form| %>
      <div class="table-responsive">
        <table class="table table-light align-middle table-borderless text-nowrap">
          <tbody>
            <tr class="form-group">
              <td><%= form.label :"ユーザーネーム" %></td>
              <td><%= form.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %></td>
            </tr>
            <tr class="form-group">
              <td><%= form.label :"お住まいの地域" %></td>
              <td><%= form.select :prefecture_id, Prefecture.pluck(:name, :id), class: "form-control" %></td>
            </tr>
            <tr class="form-group">
              <td><%= form.label :"メールアドレス" %></td>
              <td><%= form.email_field :email, autocomplete: "email", class: "form-control" %></td>
            </tr>
            <tr class="form-group">
              <td><%= form.label :"プロフィール画像", for: "formFile", class: "form-label" %></td>
              <td><%= form.file_field :profile_image, accept: "image/*", class: "form-control", type: "file",  id: "formFile" %></td>
            </tr>
            <tr class="form-group">
              <td><%= form.label :"自己紹介" %></td>
              <td><%= form.text_area :introduction, class: "form-control" %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="actions d-flex justify-content-evenly mb-5">
        <%= form.submit "変更を保存する", class: "btn btn-outline-success" %>
        <%= link_to user_path(@user), class: "btn btn-outline-secondary" do %>
          保存せずに戻る
        <% end %> 
      </div>
    <% end %>
    </div>
  </div>
  
</div>