<div class="container">
  
  <div class="row ">
    <h5 class="text-center mb-5"><%= @user.name %>さんのページ</h5>
  </div>
  <div class="row justify-content-center">

    <div class="col-lg-3 col-10">
      <%= render "public/users/info", user: @user %>
    </div>
    
    <div class="col-lg-9 col-10">
      <% if @teas.present? %>
      <%= render "public/teas/teas", teas: @teas %>
      <% else %>
        <div class="col-7 offset-md-2 text-nowrap"><%= @user.name %>さんの投稿はありません。</div>
      <% end %>
        
      <div class="row justify-content-center"> 
        <div class="col-10 mb-5">
          <% if @teas %> 
          <%= paginate @teas, theme: 'bootstrap-5' %>
          <% end %> 
        </div>
      </div>
        
    </div>
      
  </div>

</div>
