
<div class="container px-5 px-sm-0">
  <div class="row">
    <div calss="col-3">
      <%= image_tag @user.get_profile_image(100,100) %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <td><%= @user.name %></td>
            <td><i class="fas fa-cog"></i></td>
            <td><%= link_to "お気に入りリスト", </td>
            <td>
              <% if @user.name != "guestuser" %>
                <div class='row'>
                <%= link_to '会員情報編集',edit_user_path(@user),class: "btn btn-outline-secondary" %>
                </div>
              <% end %>
            </td>
            <td><%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary' do %>ログアウト<% end %></td>

          </tr>
          <tr>
            <td>introduction</td>
            <td><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
      <!--<= link_to で投稿ボタンを実装予定-->
      <div>見つけたトレチャーの数</div>
      <div><%= @user.prefecture.name %>在住</div>
    </div>
  </div>
</div>

<% @teas.each do |tea| %>

<%= link_to tea_path(tea) do %>
<%= image_tag tea.get_tea_image(400,400) %>
<% end %>
<table class="table">
  <tbody>
    <tr>
      <td>
        <%= tea.tea_type.name %>
      </td>
      <td>
        <%= tea.prefecture.name %>
      </td>
      <td>
        <%= link_to user_path(tea.user) do %>
        <%= tea.user.name %>
        <% end %>
      </td>
      <td id="favorite-<%= tea.id %>">
        <%= render "public/favorites/favorite", tea: tea %>
      </td>
    </tr>

    <tr>
      <td>
        <%= tea.created_at.strftime('%Y/%m/%d') %>
      </td>
      <td>
        <%= link_to tea_path(tea) do %>
         <%= tea.opinion.truncate(15) %>
        <% end %>
      </td>
    </tr>

  </tbody>
</table>
<% end %>