<%= render 'layouts/errors', obj: @tea_type %>
<%= form_with model: @tea_type, url: admin_tea_types_path(@tea_type) do |form| %>

  <%= form.text_field :name %>

  <%= form.submit "お茶の種類を追加する" %>

<% end %>

<h3>お茶の種類一覧</h3>


<table>
  <tbody>
    <% @tea_types.each do |tea_type| %>
    <tr>
      <td><%= tea_type.name %></td>
      <td><%= link_to "編集する", edit_admin_tea_type_path(tea_type) %></td>
      <td><%= link_to "削除する", admin_tea_type_path(tea_type) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

